@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Lexend Exa', sans-serif;
}

:root {
  background-color: #202c39;
}

li {
  list-style: none;
}

input {
  border-radius: 0.5rem;
  background-color: rgb(234, 218, 162, 0.6);
  padding: 0.5rem;
  width: 100%;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

img {
  width: 100%;
}

.cart-button {
  padding: 1rem;
  width: 50%;
  background-color: #3c526a;
  border-radius: 10px;
}

.back-button {
  padding: 1rem;

  /* background-color: #3c526a; */
  border-radius: 10px;
  margin-left: 4rem;
  margin-top: 1rem;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 715px;
}

.image-wrapper::after {
  content: '';
  background-image: url('/images/running2.jpeg');
  background-position: center;
  background-size: cover;
  opacity: 0.7; /* Adjust the opacity value */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  width: 100%;
  height: 800px;
}

.footer::after {
  content: '';
  background-image: url('/images/shoe.png');
  background-position: center;
  background-size: cover;
  opacity: 0.4; /* Adjust the opacity value */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.display {
  width: 450px;
  height: 450px;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-top: 2.5rem;
}

.product-img {
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.hero {
  width: 500px;
  height: 500px;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.shoe-container {
  margin: 0 auto;
  max-width: 1800px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* margin-top: 1rem; */
}

.image-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.images-row {
  margin-left: 4rem;
}

.details-container {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-header {
  width: 700px;

  /* background-color: #3c526a; */
  border-radius: 5px;
}

.details-info {
  background-color: #3c526a;
  padding: 1.5rem;
  border-radius: 1rem;
  max-width: 600px;
  font-size: 26px;
  margin-top: 2rem;
  margin-right: 5rem;
}

.size-box {
  width: 100px;
  height: 100px;
  background-color: #3c526a;
  border-radius: 10px;
  margin-left: 1rem;
}

.sizes {
  margin-bottom: 1rem;
  display: flex;
}

.white {
  color: white;
}

.blue {
  background-color: #3c526a;
  padding: 1rem;
}

.loading {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
}
